extends base.pug

block content 
    video(src="/" + findByIdVideo.fileUrl, controls)
    div 
        p=findByIdVideo.description
        small=findByIdVideo.createdAt
    div
        small Uploaded By 
            a(href=`/users/${findByIdVideo.owner._id}`)=findByIdVideo.owner.username
    if String(findByIdVideo.owner._id) === String(loggedInUser._id)
        a(href=`${findByIdVideo.id}/edit`) Edit Video &larr;
        br
        a(href=`${findByIdVideo.id}/delete`) Delete Video &rarr;